@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #2FAE8F;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  background-color: #525659;
  /* Dark grey background like PDF viewer */
}

@media print {
  body {
    background-color: white;
  }

  .report-container {
    margin: 0 !important;
    box-shadow: none !important;
  }
}